header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 131, 173);
    padding: 20px 20px;
    margin-top: -10;
}

nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 75px;
    display: flex;
    margin-right: 700px;

}